#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o

# ignore les .o et .a
*.[oa]

# ignore les fichiers code blocks
*.depend
*.layout

# ignore le repertoire sfml
QChess/sfml/

# ignore les dll
*.dll

# ignore le repertoire bin
QChess/bin/

# ignore le repertoire .idea
QChess/.idea/
